* {
  padding: 0;
  margin: 0;
  font-family: century gothic;
}
 
div.nav-links{
  flex: 1;
  text-align: right;
  position: absolute;
  margin-top: 70px;
  margin-left: 950px;

}

.nav-links ul li{
  list-style:   none;
  display: inline-block;
  padding: 6px 10px;
  position: relative;
 

}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;


}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;

}

.nav-links ul li:hover::after{
  width: 100%;
  }

div.text-heroes {
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: #232323;
}


.heroes {
  font-size: 56px;
  font-weight: 700;
   color: #fff;
   margin-top: 50px;
   margin-left: 120px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: black;
  opacity: 50%;
  position: absolute;
  z-index: 999;
  display: none;
  text-align: center;

}

ul li a:hover {

}

ul li:hover ul.dropdown {
  display: block;
}

div.logout-btn {
  position: absolute;
  margin-top: 40px;
  margin-left: 1630px;
}


.logout {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  background: #fff;
  color: #1D066E;
}


.bg {
  position: absolute;
  width: 100%;
  margin-top: 150px;
}


div.aboutus {
  position: absolute;
  margin-top: 350px;
  margin-left: 700px;
}


.aboutus-text {
   color: #FFF;
   font-size: 90px;
   font-weight: 700;
}


div.container {
  margin-top: 830px;
  margin-left: 170px;
  width: 1500px;
  height: 500px;
  position: absolute;
  border-radius: 45px;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);
}

div.cont-mission {
  position: absolute;
  width: 500px;
  margin-left: 150px;
  margin-top: 150px;
  text-align: center;
}

div.cont-mission h1 {
  color: #5DFCA4;
  font-weight: 700;
  font-size: 40px;

}

div.cont-mission p {
  color: #FFF;
  position: absolute;
  margin-top: 20px;
  font-size: 20px;

}

div.white-line {
  width: 2px;
  height: 350px;
  background-color: #FFF;
  position: absolute;
  margin-top: 70px;
  margin-left: 750px;
}


div.cont-vission {
  position: absolute;
  width: 500px;
  text-align: center;
  margin-left: 850px;
  margin-top: 150px;
}

div.cont-vission h1 {
  color: #5DFCA4;
  font-weight: 700;
  font-size: 40px;

}

div.cont-vission p {
  color: #FFF;
  position: absolute;
  margin-top: 20px;
  font-size: 20px;

}


div.container-1 {
  position: absolute;
  margin-top: 1600px;
  margin-left: 300px;
}


div.principles {
  position: absolute;
  margin-top: -250px;
  margin-left: 420px;
  width: 400px;
}

div.principles h1 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

 
 div.prince-img {
  position: absolute;
  margin-left: -250px;
  margin-top: -20px;
 }

div.leadership {
  position: absolute;
  margin-left: 600px;
  margin-top: -20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);

}

.lead-img {
  margin-top: 30px;
}

.lead-desc {
  color: white;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 800;
}

div.check {
  position: absolute;
  margin-left: 900px;
  margin-top: -20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);

}

.check-img {
  margin-top: 30px;

}

.check-desc {
  color: white;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 800;
}


div.target {
  position: absolute;
  margin-left: 1200px;
  margin-top: -20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);

}

.target-img {
  margin-top: 30px;
   
}

.target-desc {
  color: white;
  margin-top: -25px;
  font-size: 20px;
  font-weight: 800;
}




div.target {
  position: absolute;
  margin-left: 1200px;
  margin-top: -20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);

}

.target-img {
  margin-top: 30px;
}

div.cama {
  position: absolute;
  margin-left: 300px;
  margin-top: -20px;
  width: 200px;
  height: 200px;
  text-align: center;
  background: #1E1E1E;
  box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.25);

}

.cama-img {
  margin-top: 30px;
}

.cama-desc {
  color: white;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 800;
}

.img-pic2 {

  width: 250px;
  height: 250px;
}

.text-1 {
  position: absolute;
  margin-top: -200px;
  margin-left: 350px;
  width: 1000px;
  color: #Fff;
}

.text-2 {
  position: absolute;
  margin-top: -150px;
  margin-left: 350px;
  width: 700px;
  color: #fff;
  text-align: justify;
}

.img-pic1 {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: 400px;
  margin-left: 700px;
}

.text-3 {
  position: absolute;
  margin-top: 175px;
  margin-left: 350px;
  width: 1000px;
  color: #fff;
}

.text-4 {
  position: absolute;
  margin-top: 225px;
  margin-left: 175px;
  width: 700px;
  color: #fff;
  text-align: justify;
}

div.container-2 {
  position: absolute;
  width: 1000px;
  height: 300px;
  border-radius: 45px;
  background-color: #232323;
  margin-top: 1900px; 
  margin-left: 300px;      
}


div.container-2 img {
  position: absolute;
  margin-left: 1050px;
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.cont2-desc {
  color: #FFF;
  width: 400px;
  position: absolute;
  margin-top: 100px;
  margin-left: 130px;
  text-align: justify;
}



div.white-line2 {
  width: 2px;
  height: 200px;
  background-color: #FFF;
  position: absolute;
  margin-top: 70px;
  margin-left: 550px;
}

.sports-cord {
  color: #FFF;
  width: 100px;
  position: absolute;
  margin-left: 600px;
  margin-top: 60px;
}


div.horiz-line {
  width: 300px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  margin-top: 150px;
  margin-left: 600px;
}

.text-batula {
  color:#5DFCA4;
  position: absolute;
  margin-top: 170px;
  margin-left: 600px;
}


div.container-3 {
  position: absolute;
  margin-top: 2300px;
  margin-left: 350px;
}


div.text-footer-heroes {
    position: absolute;
    margin-top: 3100px;
    height: 270px;
    width: 100%;
    background: linear-gradient(136deg, #C837AB 0%, #1D066E 100%);
  }


.footer-heroes {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin-top: 35px;
  margin-left: 120px;

}

div.footer-reserved {
    position: absolute;
    margin-top: 3372px;
    height: 50px;
    width: 100%;
    background: linear-gradient(136deg, #C837AB 0%, #1D066E 100%);
     
}

.text-reserved {
  position: absolute;
  margin-top: 17px;
  margin-left: 50px;
  color: #fff;
}

div.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 3370px;
}

div.heroes-logo {
  position: absolute;
  margin-top: 3200px;
  margin-left: 130px;
}

div.quick-links {
  position: absolute;
  margin-top: 3130px;
  margin-left: 600px;
}

.text-quick {
  color: #fff;
}

div.quick-links-1 {

  margin-top: 10px;

}


div.quick-links-2 {

  margin-top: -160px;
  margin-left: 350px;
}

div.quick-links-2 a {
  color: #FFF;
  display: flex;
  line-height: 2.5;
  text-decoration: none;
}

div.quick-links-1 a {
  color: #FFF;
  display: flex;
  line-height: 2.5;
  text-decoration: none;
  width: 270px;
}

div.contact-info {
  position: absolute;
  margin-top: 3130px;
  margin-left: 1250px;
  color: #FFF;
}

div.cont-inf {
  position: absolute;
  margin-top: 10px;
  color: #FFF

}

div.cont-inf p{
  
  line-height: 2.5;
}

div.footer-svg-icon {
  position: absolute;
  margin-top: 15px;
  margin-left: 1700px;
  word-spacing: 20px;
}
.profile-img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: -15px;
  position: absolute;
  
}

ul li ul.dropdown-profile li {
  display: block;
  width: 100px;


}

 


ul li ul.dropdown-profile  {
  width: 100%;
  background: black;
  opacity: 50%;
  position: absolute;
  z-index: 999;
  display: none;
  text-align: center;
  


}

ul li a:hover {

}

ul li:hover ul.dropdown-profile  {
  display: block;
  width: 120px;
  position: absolute;
  margin-left: -10px;
  margin-top: 15px;
  
}
